/* Banner.css */
.singin {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  margin: 0;
}

.signup-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically by default */
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 780px; /* Limit maximum width */
  box-sizing: border-box;
  justify-content: center;
  align-items: center; /* Center content horizontally */
}

.image-container {
  text-align: center; /* Center the image */
  margin-bottom: 20px; /* Margin below the image */
}

.image-container img {
  width: 100%;
  width: 400px; /* Limit image width */
  height: 650px; /* Maintain aspect ratio */
  border-radius: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #444;
  text-align: center; /* Center text */
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 15px;
  width: 100%;
}

.input-container label {
  font-size: 1rem;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
}

input::placeholder {
  color: grey;
  font-size: 0.9rem;
}

input.error {
  border-color: red; /* Red border for error state */
}

.buttonsr {
  background-color: #6358f8;
  color: white;
  padding: 15px 50px;
  margin-top: 10px;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;
}

.buttonsr:hover {
  background-color: #5347d7;
}

.terms {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100%;
}

.terms input {
  margin-right: 10px;
}

.terms label {
  white-space: nowrap;
}

p {
  margin-top: 20px;
  color: gray;
  text-align: center; /* Center text */
}

a {
  color: #1d38d1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
  .signup-container {
    flex-direction: row; /* Align elements horizontally on larger screens */
  }

  .image-container {
    margin-right: 20px; /* Space between image and form */
  }

  .form-container {
    align-items: flex-start; /* Align form items to the start */
    max-width: none; /* Remove max-width restriction */
  }
}
